{% block footer %}
	<footer class="row bg-dark mt-3 mb-3  ">

		<div class="row text-center text-warning">
			<h3>
				Info
			</h3>
		</div>

		<div class="row text-center">
			<h4>
				<a href="" class="text-white text-decoration-none">
					Contact</a>
			</h4>
		</div>

		<div class="row text-center">
			<h4>
				<a href="" class="text-white text-decoration-none">Nos Hotels</a>
			</h4>
		</div>
	</footer>
{% endblock %}
